{
  "presets": ["env", "react", "stage-2"],
  "plugins": [
    "transform-class-properties"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-class-properties"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types",
        "transform-class-properties"
      ]
    }
  }
}
